<input type="hidden" id="ano" name="ano" value="<%- ano %>" />
<input type="hidden" id="semestre" name="semestre" value="<%- semestre %>" />

<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<label for="anobusca">Ano</label>
			<input id="anobusca" class="form-control" type="number" value="<%- ano %>" onchange="buscarDisciplinas()" />
		</div>
	</div>

	<div class="col-sm-3">
		<div class="form-group">
			<label for="semestrebusca">Semestre</label>
			<select id="semestrebusca" class="form-control" onchange="buscarDisciplinas()">
				<option value="1" <%-((semestre === 1) ? 'selected="selected"' : '') %>>1º Semestre</option>
				<option value="2" <%-((semestre === 2) ? 'selected="selected"' : '') %>>2º Semestre</option>
			</select>
		</div>
	</div>
</div>

<div class="form-group mb-0">
	<div class="cb-search">
		<label for="idsistema">Seção e Nome</label>
		<select id="idsistema" name="idsistema" class="form-control">
			<option value="">Selecione...</option>
			<% for (let i = 0; i < disciplinas.length; i++) { %>
			<option value="<%= disciplinas[i].courseid %>"><%= disciplinas[i].clasS_SECTION %> - <%= disciplinas[i].coursE_TITLE_LONG %></option>
			<% } %>
		</select>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	prepareCbSearch(document.getElementById("idsistema"));

	function buscarDisciplinas() {
		if (JsonWebApi.active)
			return;

		const ano = parseInt($("#anobusca").val()),
			semestre = parseInt($("#semestrebusca").val());
		if (!ano || !semestre)
			return;

		Swal.wait();

		JsonWebApi.get("<%- root %>/api/disciplina/buscar?ano=" + ano + "&semestre=" + semestre, function (response) {
			if (response.success) {
				Swal.close();

				$("#ano").val(ano);
				$("#semestre").val(semestre);

				const idsistema = document.getElementById("idsistema");
				while (idsistema.firstChild)
					idsistema.removeChild(idsistema.firstChild);

				let opt = document.createElement("option");
				opt.setAttribute("value", "");
				opt.textContent = "Selecione...";
				idsistema.appendChild(opt);

				for (let i = 0; i < response.value.length; i++) {
					opt = document.createElement("option");
					opt.setAttribute("value", response.value[i].courseid);
					opt.textContent = response.value[i].clasS_SECTION + " - " + response.value[i].coursE_TITLE_LONG;
					idsistema.appendChild(opt);
				}

				setCbSearch(idsistema, "");
			} else {
				Swal.error(response.value + " " + emoji.sad);
			}
		});
	}

	$("#form").validate({
		rules: {
			idsistema: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			JsonWebApi.postFormData("<%- root %>/api/disciplina/criar", form, function (response) {
				if (response.success) {
					Swal.success("Disciplina criada com sucesso! " + emoji.happy).then(function () {
						window.location.href = "<%- root %>/disciplina/editar?id=" + response.value;
					});
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});
		}
	});
	//]]>
</script>
