<%
	let cores = [
		"primary",
		"secondary",
		"success",
		"info",
		"warning",
		"danger",
		"dark"
	];
%>

<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="form-group">
			<h3><label for="periodo" class="mb-0">Período</label></h3>
			<select class="form-control" id="periodo" onchange="Swal.wait(); window.location.href = '<%- root %>/disciplina?p=' + $('#periodo').val();">
<%
	for (let ano = 2022; ano <= anoAtual; ano++) {
		for (let semestre = (ano === 2022 ? 2 : 1); semestre <= (ano === anoAtual ? semestreAtual : 2); semestre++) {
%>
				<option value="<%- ano %><%- semestre %>" <%- ((ano === anoEscolhido && semestre === semestreEscolhido) ? 'selected="selected"' : '') %>><%- ano %>-<%- semestre %></option>
<%
		}
	}
%>
			</select>
		</div>
	</div>
</div>

<% if (!lista.length) { %>
<p class="text-center">Você ainda não tem disciplinas atribuídas. 😢</p>
<% } else { %>

<div class="row">

<% for (let i = 0; i < lista.length; i++) { const cor = cores[i % 7], disciplina = lista[i]; %>

<div class="col-xl-4 col-md-6 mb-4">
	<div class="card border-left-<%- cor %> shadow h-100 py-2">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="text-xs font-weight-bold text-<%- cor %> text-uppercase mb-1"><%- disciplina.ano %>-<%- disciplina.semestre %> / <%= disciplina.turma %></div>
					<div class="h5 mb-0 font-weight-bold text-gray-800"><%= disciplina.idsecao %> - <%= disciplina.nome %></div>
				</div>
				<div class="col-auto">
					<i class="fas fa-book fa-2x text-gray-300"></i>
				</div>
			</div>

			<hr />

			<% if (disciplina.ancora) { %>
			<div class="mb-3 font-weight-bold text-<%- cor %>">Gerente</div>

			<div class="mb-3">
				<a href="<%- root %>/disciplina/verificacao?id=<%- disciplina.id %>" class="btn btn-sm btn-block btn-<%- cor %>"><i class="fa fa-qrcode"></i> Controlar QR</a>
			</div>
			<% } %>

			<div class="mb-3">
				<a href="<%- root %>/disciplina/presenca?id=<%- disciplina.id %>" class="btn btn-sm btn-block btn-outline-<%- cor %>"><i class="fa fa-check"></i> Consultar Presenças Individuais</a>
			</div>

			<div>
				<a href="<%- root %>/disciplina/presencaSemestral?id=<%- disciplina.id %>" class="btn btn-sm btn-block btn-outline-<%- cor %>"><i class="fa fa-calendar-alt"></i> Consultar Presença Semestral</a>
			</div>
		</div>
	</div>
</div>

<% } %>

</div>

<% } %>
