<table class="table table-flush table-striped table-hover" id="tabela"></table>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var tabela = prepareDataTable("tabela", {
		order: [[1, "desc"], [2, "desc"], [3, "asc"], [4, "asc"]],
		deferRender: true,
		columns: [
			{ title: "", "class": "col-min", searchable: false, orderable: false, data: "id", render: function (v, type, row) {
				// <% if (usuario.admin) { %>
				return '<a target="_blank" title="Editar" href="<%- root %>/disciplina/editar?id=' + row.id + '" class="btn btn-sm btn-outline-primary"><i class="fa fa-fw fa-edit"></i></a> <a target="_blank" title="Controlar QR" href="<%- root %>/disciplina/verificacao?id=' + row.id + '" class="btn btn-sm btn-outline-secondary"><i class="fa fa-fw fa-user-check"></i></a> <a target="_blank" title="Consultar Presenças Individuais" href="<%- root %>/disciplina/presenca?id=' + row.id + '" class="btn btn-sm btn-outline-success"><i class="fa fa-fw fa-calendar-check"></i></a> <button title="Excluir" type="button" data-excluir="1" class="btn btn-sm btn-outline-danger"><i class="fa fa-fw fa-times"></i></button>';
				// <% } else { %>
				return '<a target="_blank" title="Editar" href="<%- root %>/disciplina/editar?id=' + row.id + '" class="btn btn-sm btn-outline-primary"><i class="fa fa-fw fa-edit"></i></a> <button title="Excluir" type="button" data-excluir="1" class="btn btn-sm btn-outline-danger"><i class="fa fa-fw fa-times"></i></button>';
				// <% } %>
			} },
			{ title: "Ano", "type": "number", data: "ano" },
			{ title: "Semestre", "type": "number", data: "semestre" },
			{ title: "Seção", render: encode, data: "idsecao" },
			{ title: "Nome", render: encode, data: "nome" },
			{ title: "Sistema", render: encode, data: "idsistema" },
			{ title: "Criação", "class": "col-min text-right", "type": "customdateint", data: "criacao" }
		],
		data: <%- JSON.stringify(lista) %>,
		export: { title: "Disciplinas" }
	});

	$("#tabela").on("click", "tbody button", function () {
		if (JsonWebApi.active)
			return;

		var trClicada = this.parentNode.parentNode,
			nome = null,
			disciplina = tabela.row(trClicada).data();

		if (this.getAttribute("data-excluir")) {
			Swal.okcancel({
				html: 'Tem certeza que deseja excluir a disciplina "' + disciplina.nome + '"? Esta operação NÃO pode ser desfeita!<br/><br/>Para confirmar a exclusão, por favor, digite abaixo o nome da disciplina conforme exibido acima.<br/><br/><label for="txtExcluirNome">Nome da disciplina</label><input type="text" class="form-control" spellcheck="false" autocomplete="off" id="txtExcluirNome" />',
				confirmButtonText: "Excluir",
				preConfirm: function () {
					nome = $("#txtExcluirNome").val().toLowerCase();
					return true;
				}
			}, null, true).then(function (result) {
				if (JsonWebApi.active || !trClicada)
					return;

				if (result.value) {
					if (nome !== disciplina.nome.toLowerCase()) {
						Swal.error("O nome da disciplina não confere! " + emoji.sad);
						return;
					}

					Swal.wait();

					JsonWebApi.delete("<%- root %>/api/disciplina/excluir", function (response) {
						if (response.success) {
							Swal.success("Disciplina excluída com sucesso! " + emoji.happy);
							tabela.row(trClicada).remove().draw();
						} else {
							Swal.error(response.value + " " + emoji.sad);
						}
						trClicada = null;
					}, "id", disciplina.id);
				}
			});
		}
	});

	//]]>
</script>
